<%- include("partials/header.ejs") %>


<section class="d-flex justify-content-center mt-4">  <!-- Category selection -->

    <nav class="col-md-10 py-1 navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-underline justify-content-around mb-3" id="navbarToggler">
            <a href="#" class="nav-item nav-link link-body-emphasis active">Any</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Sports</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Politics</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Inspirational</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Inovative</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Spiritual</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Historic</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Cooking</a>
            <a href="#" class="nav-item nav-link link-body-emphasis">Other</a>
        </div>
    </nav>

</section>

<section class="mt-3"> <!-- Section that shows newly posted Ideas -->

<div class="col-12 text-center border-bottom pb-3">
    <h2>Newly posted Ideas</h2>
</div>

<div class="container-fluid text-center mt-3"> <!--  -->

    

</div>

</section>


<%- include("partials/footer.ejs") %>